header {
    border: 1px solid green;
    width: 100px;
    height: 20px;
}

#it {
    border: 1px solid green;
    font-size: 150%;
    
}

.check {
    width: 500px;
    height: 200px;
    background-color: grey;
}

