<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
</head>
<body>
    <div class="wrapper">
        <header>
            <h2> <span> Header </span> </h2>
            <button type="button" id="header-button" class="btn btn-primary btn-lg"> Add node </button>
        </header>

        <section>
            <nav class="navbar">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </nav>
        </section>

        <main>
            <h1>Main h1</h1>
            <article ng-app="angularApp" ng-controller="pagesCtrl">
                <section class="pagination">
                    <a class="active" ng-click="page = '1'" href="/">1</a>
                    <a ng-click="page = '2'" href="2">2</a>
                    <a ng-click="page = '3'" href="3">3</a>
                </section>
                <div ng-view></div>
                <p>$location.path() = {{$location.path()}}</p>
            </article>
            <template>
                <div class="container">
                    <div class="row">
                        <p class="col-6 col-md-3">Paragraph 1 <content></content></p>
                        <p class="col-6 col-md-3">Paragraph 2 <content></content></p>
                        <p class="col-6 col-md-3">Paragraph 3 <content></content></p>
                        <p class="col-6 col-md-3">Paragraph 4 <content></content></p>
                    </div>
                </div>
            </template>
        </main>

        <footer>
            <h3>Footer</h3>
        </footer>
    </div>
</body>
</html>